


body{
    background-repeat: no-repeat;
    background-image: url("camaro.gif");
    background-position:center;
    background-size: cover;

}
.casper{
    background-color: rgb(5, 31, 107);
    color: rgb(254, 254, 254) ;
    
}
.anuel{
    background-color: rgb(111, 233, 111);
    
}
.tainy{
    background-color: rgb(233, 111, 184);
    
}
.trap{
    background-color: rgb(144, 238, 57);
    
}
.anti{
    background-color: rgb(42, 235, 38);
    
}
.m{
    background-color: rgb(22, 231, 57);
    
}
.face{
    background-color: rgb(45, 13, 104);
    color: rgb(254, 254, 254) ;
}
.what{
    background-color: rgb(3, 51, 11);
    color: rgb(254, 254, 254) ;
}
